<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Learn2Survive">
        
        <!-- Main Activity (Launcher) -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Splash Activity -->
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="false"
            android:theme="@style/Theme.Learn2Survive" />

        <!-- Onboarding Activity -->
        <activity
            android:name=".ui.onboarding.OnboardingActivity"
            android:exported="false"
            android:theme="@style/Theme.Learn2Survive" />

        <!-- Login Activity -->
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Learn2Survive"
            android:windowSoftInputMode="adjustResize" />

        <!-- Register Activity -->
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.Learn2Survive"
            android:windowSoftInputMode="adjustResize" />

        <!-- Forgot Password Activity -->
        <activity
            android:name=".ui.auth.ForgotPasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.Learn2Survive"
            android:windowSoftInputMode="adjustResize" />

        <!-- Home Activity -->
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.Learn2Survive" />

        <!-- Profile Activity -->
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.Learn2Survive" />

        <!-- Settings Activity -->
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.Learn2Survive" />

        <!-- Learning Activity -->
        <activity
            android:name=".ui.learning.LearningActivity"
            android:exported="false"
            android:theme="@style/Theme.Learn2Survive" />

        <!-- Lesson Detail Activity -->
        <activity
            android:name=".ui.learning.LessonDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Learn2Survive" />

        <!-- Quiz Activity -->
        <activity
            android:name=".ui.quiz.QuizActivity"
            android:exported="false"
            android:theme="@style/Theme.Learn2Survive"
            android:screenOrientation="portrait" />

        <!-- Quiz Results Activity -->
        <activity
            android:name=".ui.quiz.QuizResultsActivity"
            android:exported="false"
            android:theme="@style/Theme.Learn2Survive" />

        <!-- Quiz Review Activity -->
        <activity
            android:name=".ui.quiz.QuizReviewActivity"
            android:exported="false"
            android:theme="@style/Theme.Learn2Survive" />

        <!-- Simulation Activity -->
        <activity
            android:name=".ui.simulation.SimulationActivity"
            android:exported="false"
            android:theme="@style/Theme.Learn2Survive"
            android:screenOrientation="portrait" />

        <!-- Simulation Results Activity -->
        <activity
            android:name=".ui.simulation.SimulationResultsActivity"
            android:exported="false"
            android:theme="@style/Theme.Learn2Survive" />

        <!-- Simulations List Activity -->
        <activity
            android:name=".ui.simulation.SimulationsListActivity"
            android:exported="false"
            android:theme="@style/Theme.Learn2Survive" />

        <!-- Games List Activity -->
        <activity
            android:name=".ui.games.GamesListActivity"
            android:exported="false"
            android:theme="@style/Theme.Learn2Survive" />

        <!-- Emergency Kit Builder Activity -->
        <activity
            android:name=".ui.games.EmergencyKitBuilderActivity"
            android:exported="false"
            android:theme="@style/Theme.Learn2Survive"
            android:screenOrientation="portrait" />

        <!-- Evacuation Maze Activity -->
        <activity
            android:name=".ui.games.EvacuationMazeActivity"
            android:exported="false"
            android:theme="@style/Theme.Learn2Survive"
            android:screenOrientation="portrait" />

        <!-- Fire Escape Activity -->
        <activity
            android:name=".ui.games.FireEscapeActivity"
            android:exported="false"
            android:theme="@style/Theme.Learn2Survive"
            android:screenOrientation="portrait" />

        <!-- Flood Rescue Activity -->
        <activity
            android:name=".ui.games.FloodRescueActivity"
            android:exported="false"
            android:theme="@style/Theme.Learn2Survive"
            android:screenOrientation="portrait" />

        <!-- Typhoon House Defender Activity -->
        <activity
            android:name=".ui.games.TyphoonHouseDefenderActivity"
            android:exported="false"
            android:theme="@style/Theme.Learn2Survive"
            android:screenOrientation="portrait" />

        <!-- Earthquake Safe Spot Activity -->
        <activity
            android:name=".ui.games.EarthquakeSafeSpotActivity"
            android:exported="false"
            android:theme="@style/Theme.Learn2Survive"
            android:screenOrientation="portrait" />

        <!-- Memory Match Activity -->
        <activity
            android:name=".ui.games.MemoryMatchActivity"
            android:exported="false"
            android:theme="@style/Theme.Learn2Survive"
            android:screenOrientation="portrait" />

    </application>

</manifest>